<%= link_to cart_path, class: "relative inline-flex items-center p-3 text-orange-600 hover:text-orange-950 hover:bg-orange-50 rounded-md transition-all duration-200 border border-orange-200 hover:border-orange-300" do %>
  <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke="currentColor">
    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M3 3h2l.4 2M7 13h10l4-8H5.4M7 13L5.4 5M7 13l-2.293 2.293c-.63.63-.184 1.707.707 1.707H17m0 0a2 2 0 100 4 2 2 0 000-4zm-8 2a2 2 0 11-4 0 2 2 0 014 0z" />
  </svg>
  <% if current_cart.cart_items.any? %>
    <span class="absolute -top-1 -right-1 inline-flex items-center justify-center <%= current_cart.cart_items.sum(&:quantity) > 9 ? 'w-5 h-5' : 'w-4 h-4' %> text-xs font-bold leading-none text-white bg-orange-600 rounded-full shadow-sm">
      <%= current_cart.cart_items.sum(&:quantity) %>
    </span>
  <% end %>
<% end %> 