<% content_for :title, "New Package" %>

<div class="admin-container">
  <div class="admin-container-header">
    <div class="flex items-center justify-between">
      <div>
        <h3 class="admin-container-title">New Package</h3>
        <p class="admin-container-subtitle">Create a new package deal.</p>
      </div>
      <%= link_to "Back to Packages", admin_crinkle_packages_path, class: "admin-btn-back" %>
    </div>
  </div>
  <div class="admin-container-content">
    <div class="px-4 py-5 sm:p-6">
      <%= render "form", crinkle_package: @crinkle_package %>
    </div>
  </div>
</div> 