<% content_for :title, "New Product" %>

<div class="admin-container">
  <div class="admin-container-header">
    <div class="flex items-center justify-between">
      <div>
        <h3 class="admin-container-title">New Product</h3>
        <p class="admin-container-subtitle">Create a new product.</p>
      </div>
      <%= link_to "Back to Products", admin_products_path, class: "admin-btn-back" %>
    </div>
  </div>
  <div class="admin-container-content">
    <div class="px-4 py-5 sm:p-6">
      <%= render "form", product: @product %>
    </div>
  </div>
</div> 